:root {
	--background: hsl(270, 75%, 25%);
	--accent: hsl(270, 75%, 40%);
	--highlight: hsl(270, 75%, 50%);
	--active: hsl(270, 75%, 60%);
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	font-family: system-ui;
	background-color: var(--background);
	color: white;
	display: grid;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	width: min(75em, 100vw);
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: min(5em, 15vw);
}

p {
	font-size: min(2em, 4vw);
}

a {
	color: white;
}

button {
	font-size: 2.5em;
	width: fit-content;
	padding: 0.25em;
	border: none;
	border-radius: 0.25em;
	background-color: var(--accent);
}

button:hover {
	background-color: var(--highlight);
}

button:active {
	background-color: var(--active);
}