:root {
	--background: hsl(270, 75%, 25%);
	--accent: hsl(270, 75%, 40%);
	--highlight: hsl(270, 75%, 50%);
	--active: hsl(270, 75%, 60%);
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	font-family: system-ui;
	background-color: var(--background);
	color: white;
	display: flex;
	flex-direction: column;
}

header {
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	width: min(75em, 100vw);
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: min(4em, 15vw);
	margin: 0;
}

p {
	font-size: min(1.75em, 4vw);
	margin: 0;
}

a {
	color: white;
}

button {
	font-size: 5em;
	width: fit-content;
	cursor: pointer;
	padding: 0.25em;
	border: none;
	border-radius: 0.25em;
	background-color: var(--accent);
}

button:hover {
	background-color: var(--highlight);
}

button:active {
	background-color: var(--active);
}